---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/BaseLayout.astro';
import PostContainer from '../../components/PostContainer.astro';

export async function getStaticPaths() {
  const news = await getCollection('news');
  return news.map((news) => ({
    params: { slug: news.id },
    props: news,
  }));
}
type Props = CollectionEntry<'news'>;

const news = Astro.props;
---

<Layout title={`${news.data.title}`}, description={news.data.description} image={news.data.heroImage} >
  <div class="container">
    <PostContainer post={news} />
  </div>
</Layout>

<style lang="scss"></style>
