---
import { getCollection } from 'astro:content';
import PostCard from './PostCard.astro';

const { type = 'latest', max = -1, tag = '', flow = 'horizon' } = Astro.props;
let plogs = (await getCollection('plog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

if (type == 'tag') {
  plogs = plogs.filter((plog) => plog.data.tags && plog.data.tags.map((tag) => tag.toLowerCase()).includes(tag));
}
if (0 <= max) {
  plogs = plogs.slice(0, max);
}
---

<div class={`latest-plogs ${flow === 'horizon' ? 'horizon' : 'vertical'}`}>
  {plogs.map((plog) => <PostCard post={plog} />)}
</div>

<style lang="scss">
  .latest-plogs {
    display: grid;
    gap: 2rem;

    &.horizon {
      grid-template-columns: repeat(3, 1fr);
    }

    &.vertical {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    .latest-plogs.horizon {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
</style>
