.profileSection {
  display: flex;
  gap: 2rem;
  background-color: white;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);

  &.short {
    .profileImageWrapper {
      .profileImage {
        cursor: pointer;
      }
    }

    .profileInfo {
      h2 {
        font-size: 1.5rem;
      }
      .profileBio {
        display: none;
      }
    }
  }
}

.profileImageWrapper {
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, var(--base-color), var(--sub-color-1));
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .profileImage {
    width: 130px;
    height: 130px;
  }
}

.profileInfo {
  flex: 1;

  h2 {
    font-size: 1.8rem;
    margin: 0 0 1rem;
  }

  .profileBio {
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }

  .socialLinks {
    display: flex;
    gap: 0.5rem;
  }
}
