.socialIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--sub-color-2);
  border-radius: 50%;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3px);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}
