---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/BaseLayout.astro';
import PostContainer from '../../components/PostContainer.astro';

export async function getStaticPaths() {
  const memos = await getCollection('memo');
  return memos.map((memo) => ({
    params: { slug: memo.id },
    props: memo,
  }));
}
type Props = CollectionEntry<'memo'>;

const memo = Astro.props;
---

<Layout title={`${memo.data.title}`}, description={memo.data.description} image={memo.data.heroImage} >
  <div class="container">
    <PostContainer post={memo} />
  </div>
</Layout>

<style lang="scss"></style>
